.main-container{
    width: 1250px;

}
body{
    font-family: "Jacques Francois", serif;;
    background-attachment: fixed;
    content: normal;
    background-color: #68d1f5;
}
.navbar{
    background-color: #68DAFF;
    height: 36px;
    width: 1250px;;
    margin-top: -22px;
    
}
.navbar li{
    float: left;
    list-style: none; 
    align-items: center;
    margin: 12px 0px; 
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 50px 50px;
    text-decoration: none;
    color: black;
}
h1{
    margin: 0px 500px;
    margin-top: 60px;
    font-size: 30px;
}
#img{
    width: 250px;
    margin-left: 20px;
    margin-top:120px;
    background-image: none;
}
p{
    margin-left: 300px;
    margin-top: -160px;
}

#h{
    margin: 0%;
    padding: 20px ;
}
#img-2{
    width: 600px;
    margin-top: 100px;
    margin-left: 350px;
}
