.navbar{
    background-color: #68DAFF;
    height: 36px;
    width: 1250px;;
    margin-top: -22px;
    
}
.navbar li{
    float: left;
    list-style: none; 
    align-items: center;
    margin: 12px 0px; 
}
.navbar ul{
    overflow: auto;
}
.navbar li a{
    padding: 50px 50px;
    text-decoration: none;
    color: black;
}
body{
    background-color: #5ed7ff;
}
#a{
    margin-left: 100px;
    margin-bottom: 30px;
}
#b{
    margin-left: 140px;
}
.para{
    font-size: 23px;
}
.odi{
    font-size: 23px;
}